
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.middle{
    display: flex;
    flex-direction: row;
}

/* ----------------------middle-pages-info---------------------- */

.middle-pages-info{
    display: flex;
    position: relative;
    background: linear-gradient(0deg, rgba(255,3,67,0.5491946778711485) 23%, rgba(175,14,146,1) 64%);
    width: 80%;
    height: 600px;
}

